.black {
  background-color: #000;
}

.red {
  background-color: #F00;
}

.yellow {
  background-color: #FF0;
}

body {
  background-color: rgba(0, 0, 0, 0.5);
}

.blue {
  background-color: #00F;
}
.white {
  background-color: #FFF;
}